In [2]:
import pandas as pd
from seaborn import boxplot
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score,precision_score, recall_score, f1_score, roc_auc_score

In [3]:
df=pd.read_csv('Fraud.csv')

In [10]:
df.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [5]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [6]:
df['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [7]:
print(df.shape[0],df.shape[1])

6362620 11

In [9]:
print(df['isFraud'].isna().sum())

0

In [8]:
df.corr()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
step,1.000000,0.022373,-0.010058,-0.010299,0.027665,0.025888,0.031578,0.003277
amount,0.022373,1.000000,-0.002762,-0.007861,0.294137,0.459304,0.076688,0.012295
oldbalanceOrg,-0.010058,-0.002762,1.000000,0.998803,0.066243,0.042029,0.010154,0.003835
newbalanceOrig,-0.010299,-0.007861,0.998803,1.000000,0.067812,0.041837,-0.008148,0.003776
oldbalanceDest,0.027665,0.294137,0.066243,0.067812,1.000000,0.976569,-0.005885,-0.000513
newbalanceDest,0.025888,0.459304,0.042029,0.041837,0.976569,1.000000,0.000535,-0.000529
isFraud,0.031578,0.076688,0.010154,-0.008148,-0.005885,0.000535,1.000000,0.044109
isFlaggedFraud,0.003277,0.012295,0.003835,0.003776,-0.000513,-0.000529,0.044109,1.000000

In [14]:
b=df['newbalanceDest']-df['oldbalanceDest']

In [11]:
d=pd.DataFrame(df,columns=['amount','type','isFlaggedFraud','isFraud','step'])

In [15]:
d['newDifference']=b

In [16]:
d.head()

     amount      type  isFlaggedFraud  isFraud  step  newDifference
0   9839.64   PAYMENT               0        0     1            0.0
1   1864.28   PAYMENT               0        0     1            0.0
2    181.00  TRANSFER               0        1     1            0.0
3    181.00  CASH_OUT               0        1     1       -21182.0
4  11668.14   PAYMENT               0        0     1            0.0

In [17]:
d.type=d.type.astype('category').cat.codes

In [18]:
d.head()

     amount  type  isFlaggedFraud  isFraud  step  newDifference
0   9839.64     3               0        0     1            0.0
1   1864.28     3               0        0     1            0.0
2    181.00     4               0        1     1            0.0
3    181.00     1               0        1     1       -21182.0
4  11668.14     3               0        0     1            0.0

In [15]:
cross_table = pd.crosstab(d['type'], d['isFraud'])
print(cross_table)

isFraud        0     1
type
0        1399284     0
1        2233384  4116
2          41432     0
3        2151495     0
4         528812  4097

In [16]:
print(len(pd.unique(df['nameOrig'])))

6353307

In [37]:
c=0
for i in range(len(d['isFraud'])):
    if d['isFraud'][i]==1:
        c+=1
print(c)

8213

In [38]:
print(6353307-6362620)

-9313

In [18]:
X = d.drop(['isFraud'], axis=1)
y = d['isFraud']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Check the dimensions of the split datasets

In [19]:
print("Training set dimensions:", X_train.shape, y_train.shape)
print("Test set dimensions:", X_test.shape, y_test.shape)

Training set dimensions: (4453834, 4) (4453834,)
Test set dimensions: (1908786, 4) (1908786,)

In [24]:
model = LogisticRegression()

# Train the model on the training data
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

accuracy=accuracy_score(y_test, y_pred)
print('accuracy:',accuracy)
precision = precision_score(y_test, y_pred)
print("Precision:", precision)

# Calculate recall
recall = recall_score(y_test, y_pred)
print("Recall:", recall)

# Calculate F1 score
f1 = f1_score(y_test, y_pred)
print("F1 Score:", f1)

# Calculate AUC-ROC score
auc_roc = roc_auc_score(y_test, y_pred)
print("AUC-ROC Score:", auc_roc)

accuracy: 0.9986064440958808
Precision: 0.004405286343612335
Recall: 0.0004106776180698152
F1 Score: 0.0007513148009015778
AUC-ROC Score: 0.5001460632611427

In [26]:
model2=GradientBoostingClassifier()
model2.fit(X_train, y_train)

accuracy: 0.9986064440958808
Precision: 0.004405286343612335
Recall: 0.0004106776180698152
F1 Score: 0.0007513148009015778
AUC-ROC Score: 0.5001460632611427

In [27]:
y_pred = model2.predict(X_test)
accuracy=accuracy_score(y_test, y_pred)
print('accuracy:',accuracy)
precision = precision_score(y_test, y_pred)
print("Precision:", precision)

# Calculate recall
recall = recall_score(y_test, y_pred)
print("Recall:", recall)

# Calculate F1 score
f1 = f1_score(y_test, y_pred)
print("F1 Score:", f1)

# Calculate AUC-ROC score
auc_roc = roc_auc_score(y_test, y_pred)
print("AUC-ROC Score:", auc_roc)

accuracy: 0.9986771696774809
Precision: 0.05
Recall: 0.002053388090349076
F1 Score: 0.0039447731755424065
AUC-ROC Score: 0.501001777332565